/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* Primary */
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  /*Neutral */
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
  --Blue: hsl(228, 45%, 44%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
picture,
video {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  min-height: 100svh;
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 0.5rem;
  inline-size: 22rem;
  margin-block: 5rem;
}

.product__picture img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.product__information {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem;
}

.product__information-type {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--Grey);
}

.product__information-name {
  font-family: 'Fraunces', sans-serif;
  font-size: 2.25em;
  line-height: 1em;
}

.product__information-description {
  color: var(--Grey);
  line-height: 1.5em;
  margin-block-start: 0.5rem;
}

.product__information-price {
  display: flex;
  align-items: center;
  font-family: 'Fraunces', sans-serif;
  gap: 1rem;
  font-size: 2.25em;
  color: var(--Green-500);
}

.price-discount--style {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
  height: 1rem;
  display: inline-block;
  text-decoration: line-through;
  color: var(--Black);
}

.product__information-button {
  font-weight: 500;
  color: var(--White);
  background-color: var(--Green-500);
  padding: 1em;
  border-radius: 0.5rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: var(--Blue);
}

@media (width >= 48em) {
  /* when viewport size is 768px and above */
  .product {
    flex-direction: row;
    inline-size: 37.5rem;
  }

  .product__picture {
    width: 50%;
  }

  .product__information {
    width: 50%;
  }

  .product__picture img {
    border-radius: 0.5rem 0 0 0.5rem;
  }
}
@media (width < 48em) {
  /* when viewport size is below 768px */
}
